html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: table;
}
body {
    display: table-cell;
    vertical-align: middle;
}
form {
    display: table;
    margin: auto;
}
